**/*.svg
packages/front-react/dist
packages/front-react/src/.umi
packages/front-react/src/.umi-production
packages/front-react/.dockerignore
packages/front-react/.DS_Store
packages/front-react/*.png
packages/front-react/*.toml
packages/front-react/docker
packages/front-react/.editorconfig
packages/front-react/Dockerfile*
packages/front-react/.gitignore
packages/front-react/.prettierignore
packages/front-react/LICENSE
packages/front-react/.eslintcache
packages/front-react/*.lock
packages/front-react/yarn-error.log
packages/front-react/.history
packages/front-react/CNAME
packages/front-react/build
packages/front-react/public
